# SwiftPM
.build/
/*.xcodeproj
DerivedData/

# Kotlin/Native + Gradle
.gradle/
build/
**/build/
.idea/
.kotlin
.konan/
gradle/
gradlew
gradlew.bat

# macOS
.DS_Store

# Logs
*.log

# Third-party builds
third_party/

target/